*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #334d74, #007aa8, #00a7ad, #00cf7c, #a8eb12);
    margin: 0;
}

#particles-js {
    height: 100vh;
}
.heading {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}
.box{
    width: 300px;
    height: 280px;
    border: 3px solid black;
    transition: transform ease-in-out 1.2s
}
.box:hover{
    transform: rotate(720deg);
}


